<!--
 * @Author: your name
 * @Date: 2021-07-11 17:31:11
 * @LastEditTime: 2021-07-22 17:05:19
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: /box_dev/Users/hy/proj/dev/javascript/ionic-cordova-googlemap-sample/src/app/home/home.page.html
-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="map" style="height: 50%; width: 100%;">
    <ion-button (click)="loadMap()">map</ion-button>
    <ion-button (click)="markMe()">mark</ion-button>
    <ion-button (click)="alert('you press me');">alert</ion-button>
    <ion-button (click)="toogleSize()">toogle size</ion-button>
  </div>
</ion-content>
